* {
	font-family: Arial;
}
/* styles.css */
.backgroundImage {
	background-image: url(../img/dnd-logo.png);
	width: 400px;
	height: 405px;
	margin: 64px auto;
}
.backgroundImage:hover {
	background-image: url(../img/d20.png);
	cursor: crosshair;
}