body {
	font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
/* styles.css */
.backgroundImage {
	background-image: url(../img/dnd-logo.png);
	width: 400px;
	height: 405px;
	margin: 64px auto;
}
.backgroundImage:hover {
	background-image: url(../img/d20.png);
	cursor: crosshair;
}
.text {
	width: 50%;
	margin: 96px auto;
}
h1 {
  color: black;
  font-size: 48px;
  text-align: center;
}
h2 {
  color: black;
  font-size: 40px;
  text-align: left;
}
.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
h3 {
  font-size: 40px;
  text-align: right;
}
h3 a:link,
h3 a:visited {
  color: maroon;
  text-decoration: none;
}
h3 a:hover {
  color: red;
}